@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EBEDEA;
  --foreground: #171717;
  --lineargold:linear-gradient(91deg, #F7F9BF -7.52%, #DBAB67 11.96%, #8C6E3A 104.72%);
  
}

@media (prefers-color-scheme: dark) {
  :root {
 --background: #EBEDEA;
  --foreground: #171717;
    --lineargold:linear-gradient(91deg, #F7F9BF -7.52%, #DBAB67 11.96%, #8C6E3A 104.72%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
